/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
margin: 0;
font-family: 'Roboto', sans-serif;
}
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
font: inherit;
}
/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
/*
8. Create a root stacking context
*/
#root, #__next {
isolation: isolate;
}


:root {
    --accent-blue: #0EA5E9;
    --main-gray: #F5F5F4;
    --accent-yellow: #FACC15;
    --main-white: #ffffff;
    --accent-gray:  #747474;
}
::placeholder {
    color: var(--main-white);
}

.controls__features, .controls__settings {
    font-size: 120%;
}  

.container-dashboard {
    display: grid;
    grid-template-columns: minmax(20%, 1fr) minmax(80%, 2fr);
}

.dashboard-controls {
    background-color: var(--accent-blue);
    color: var(--main-white);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em;
}
.controls__header{
    display: flex;
    padding-bottom: .5em;
    align-items: center;
    gap: 1em;
    border-bottom: 2px solid var(--main-gray);
}

.controls__features div, .controls__settings div {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: .4em;
    font-weight: bold;
    margin: .7em 0;
    transition: .5s;
}

.controls__features div:hover , .controls__settings div:hover {
    border-bottom: 2px solid var(--main-gray);
}
.dashboard-contents {
    display: grid;
    grid-template-rows: minmax(100px, 200px) minmax(85%, 2fr);
    gap: .1em;
}

.contents__header {
    background-color: var(--main-white);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    padding: 1em 2em;
}

.header__notification {
    display: flex;
    justify-content: space-between;
}

.notification_search, .profile_desc{
    display: flex;
    gap: 1em;
    align-items: center;
}

.notification_search {
    gap: 1em;
}

.profile__owner {
    width: 40px;
    height: 40px;
    background: url('./images/profile.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--accent-yellow);
    border-radius: 50%;
}
.profile__name, .owner_handle{ 
    font-weight: bold;
}
.search__field {
    width: 500px;
    background-color: #E7E5E4;
    border: none;
    outline: none;
    color: black;
    padding: .5em 1em;
    border-radius: 20px;
}

.header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions__greeting{
    display: flex;
    gap: 1em;
    align-items: center;
}
.greeting__owner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: url('./images/profile.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--accent-yellow);
}
.actions_controls {
    display: flex;
    gap: 1em;
}
.controls_button {
    outline: none;
    width: 100%;
    border: none;
    text-transform: capitalize;
    font-weight: bold;
    padding: .5em 2em;
    border-radius: 20px;
    color: var(--main-white);
    box-shadow: 2px 2px 8px #c3c3c3;
    background-color: var(--accent-blue);
    transition: transform .5s;
}

.controls_button:hover {
    transform: scale(1.1);
}
.contents__feed {
    display: grid;
    background-color: var(--main-gray);
    grid-template-columns: minmax(70%, 2fr) minmax(30%, 1fr);
    padding: 2em;
}
.feed__card {
    background-color: red;
}

.card__projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 1em;
    grid-auto-rows: 1fr;
    padding-top: 1em;
}


.project_card {
    padding: 1.5em;
    border-radius: 10px;
    background-color: var(--main-white);
    border-left: 6px solid var(--accent-yellow);
    box-shadow: 2px 2px 8px #c3c3c3;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.owner_greeting {
    color: var(--accent-gray);
    font-size: 120%;
}
.owner_handle, .profile__name {
    font-size: 150%;
}

.card_title {
    font-size: clamp(1rem, 1.5rem, 2.5rem);
}

.card_desc {
    font-size: clamp(1rem, 1.3rem, 1.8rem);
    color: var(--accent-gray);
}

.card__controls {
    text-align: right;
    display: flex;
    align-items: center;
    font-size: 50px;
    justify-content: end;
    gap: .5em;
    margin-top: auto;
}

.feed_announcements {
    padding: 0em 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card__announcment {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.community__post, .trending__post{
    padding: 2em;
    border-radius: 10px;
    background-color: var(--main-white);
    display: flex;
    flex-direction: column;
    gap: .8em;
    box-shadow: 2px 2px 8px #c3c3c3;
}

.trending__post {
    height: 100%;
    margin-top: 1em;
}

.community__post > div:not(:last-child) {
    padding-bottom: .8em ;
    border-bottom: 1px solid #ccc;
}

.community__post h5 {
    font-size: 120%;
}

.community__post p {
    font-weight: light;
    color: var(--accent-gray);
}

.post__content {
    display: flex;
    gap: 1em;
}


.post__handle {
    font-size: 80%;
    font-weight: bold;
}

.post__desc {
    color: var(--accent-gray);
}


/* Trending posts*/

.gojo {
    width: 40px;
    height: 40px;
    background: url('./images/gojo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--accent-yellow);
    border-radius: 50%;
}

.julius {
    width: 40px;
    height: 40px;
    background: url('./images/julius.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--accent-yellow);
    border-radius: 50%;
}
/* ICONS */

.dashboard-icon {
    font-size: 60px;
}

.control-icons {
    font-size: 40px;
}

.card-icons  {
    font-size: 30px;
    cursor: pointer;
    color: var(--accent-gray);
    transition: .4s;
}

.card-icons:hover{
    color: black;
}