/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
margin: 0;
font-family: 'Roboto', sans-serif;
}
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
font: inherit;
}
/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
/*
8. Create a root stacking context
*/
#root, #__next {
isolation: isolate;
}


:root {
    --accent-blue: #0EA5E9;
    --main-gray: #F5F5F4;
    --accent-yellow: #FACC15;
    --main-white: #ffffff;
}
::placeholder {
    color: var(--main-white);
}
.material-symbols-outlined {
    font-size: 20px;
    
  }
  
.container-dashboard {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(20%, 1fr) minmax(80%, 2fr);
}

.dashboard-controls {
    background-color: var(--accent-blue);
    color: var(--main-white);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em;
}
.controls__header{
    display: flex;
    align-items: center;
    gap: 1em;
}

.controls__features div, .controls__settings div {
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bold;
    margin: .7em 0;
}
.dashboard-contents {
    display: grid;
    grid-template-rows: minmax(20%, 1fr) minmax(80%, 2fr);
    gap: .1em;
}

.contents__header {
    background-color: var(--main-white);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

.header__notification {
    display: flex;
    justify-content: space-between;
}

.notification_search, .profile_desc{
    display: flex;
    gap: 1em;
    align-items: center;
}

.notification_search {
    gap: 1em;
}

.profile__owner {
    width: 40px;
    height: 40px;
    /* background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWpFnauBgtImOomAg90u2ivOE8eVKGSPvKhFiYQYdNchlfnr_a3e3_oAwhYsfpor80bzQ&usqp=CAU');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: var(--accent-yellow);
    border-radius: 50%;
}
.profile__name, .owner_handle{ 
    font-weight: bold;
}
.search__field {
    width: 500px;
    background-color: #D6D3D1;
    border: none;
    outline: none;
    color: black;
    padding: .5em 1em;
    border-radius: 20px;
}

.header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions__greeting{
    display: flex;
    gap: 1em;
    align-items: center;
}
.greeting__owner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--accent-yellow);
}
.actions_controls {
    display: flex;
    gap: 1em;
}
.controls_button {
    outline: none;
    width: 100%;
    border: none;
    text-transform: capitalize;
    font-weight: bold;
    padding: .5em 2em;
    border-radius: 20px;
    color: var(--main-white);
    background-color: var(--accent-blue);
}
.contents__feed {
    display: grid;
    background-color: var(--main-gray);
    grid-template-columns: minmax(80%, 2fr) minmax(20%, 1fr);
    padding: 2em;
}



